:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
    --input-border: #868686;
    --input-placeholder: #a9afb9;
    --submit-text: #473404;
    --dropshadow: #ffde88;
}

html, body, #root {
    min-height: 100vh;
}

#root {
    display: flex;
    flex-direction: column;
}

html * {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--background);
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}